@model  IEnumerable<object>



    <svg id="@Model.ToList()[0]" width="100%" viewBox="0 0 823 473" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect id="@Model.ToList()[0]_r" x="@Model.ToList()[1]" y="@Model.ToList()[2]" width="43" height="33" fill="grey" />
    </svg>
    <p>@Model.ToList()[0]</p>
    <p><span id="@Model.ToList()[0]_T">Err</span> С°</p>
    <p id="@Model.ToList()[0]_speed" class="speed-indicator"><span></span><span></span><span></span><span></span></p>
